/* MOVIE  */
.movie-genre-border:before {
  content: '';
  position: absolute;
  z-index: 5;
  bottom: -20px;
  left: -4px;
  width: 4px;
  height: 40px;
  background-color: #1ebc99;
}

.movie-genre-border:after {
  content: '';
  position: absolute;
  z-index: 5;
  right: -40px;
  bottom: -4px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border-width: 0 0 4px 4px;
  border-color: #1ebc99;
  border-radius: 0 0 0 6px;
}

.movie-genre-container::after {
  content: '';
  position: absolute;
  z-index: 5;
  right: -4px;
  top: -8px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border-width: 4px 4px 0 0;
  border-color: #1ebc99;
  border-radius: 0 6px 0 0;
}

/* TV */
.tv-genre-border:before {
  content: '';
  position: absolute;
  z-index: 5;
  bottom: -20px;
  right: -4px;
  width: 4px;
  height: 40px;
  background-color: #f9cc0d;
}

.tv-genre-border:after {
  content: '';
  position: absolute;
  z-index: 5;
  left: -40px;
  bottom: -4px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border-width: 0 4px 4px 0;
  border-color: #f9cc0d;
  border-radius: 0 0 6px 0;
}

.tv-genre-container::after {
  content: '';
  position: absolute;
  z-index: 5;
  left: -4px;
  top: -8px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border-width: 4px 0 0 4px;
  border-color: #f9cc0d;
  border-radius: 6px 0 0 0;
}

/* DEVIDER */
.devider-border::after {
  content: '';
  position: absolute;
  bottom: -4px;
  right: -5px;
  width: 40px;
  height: 4px;
  background-color: #1ebc99;
  border-bottom-right-radius: 6px;
}

.devider-border::before {
  content: '';
  position: absolute;
  bottom: -4px;
  left: -5px;
  width: 40px;
  height: 4px;
  background-color: #f9cc0d;
  border-bottom-left-radius: 6px;
}
